/* Creo los estilos para la tabla usando CSS grid */
.tabla-grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 100px;
}

/* Estilo para las filas */
.fila {
    display: grid;
    gap: 25px;
}

/* Estilo para los divs */
.div-cuadrado {
    width: 150px;
    height: 150px;
    position: relative;
}

/* Roto los cuadrado 45º al pasar el ratón por encima */
.div-cuadrado:hover {
    transform: rotate(45deg);
}

/* Estilo para la primera fila de divs */
.fila-1 .div-cuadrado {
    background-color: violet;
}

/* Estilo para la segunda fila de divs */
.fila-2 .div-cuadrado {
    background-color: navy;
}

/* Estilo para la primera fila de divs */
.fila-3 .div-cuadrado {
    background-color: palevioletred;
}

/* Estilo para la primera fila de divs */
.fila-4 .div-cuadrado {
    background-color: saddlebrown;
}