/* Estilo para la tabla usando CSS grid */
.tabla-grid {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-gap: 12px;
}

/* Estilo para las filas */
.fila {
    display:grid;
}

/* Estilo para los divs */
.div-cuadrado {
    width: 100px;
    height: 100px;
    border: 3px solid transparent;
}

/* Estilo para la primera fila de divs */
.fila-1 .div-cuadrado {
    background-color: teal;
}

/* Estilo para la segunda fila de divs */
.fila-2 .div-cuadrado {
    background-color:springgreen;
}

/* Estilo para la tercera fila de divs */
.fila-3 .div-cuadrado {
    background-color:royalblue;
}

/* Estilo para la cuarta fila de divs */
.fila-4 .div-cuadrado {
    background-color:plum;
}

/* Estilo para la parte no cubierta de los divs -Fila 1 */
.fila-1 .div-cuadrado:nth-child(2) {
    background-color:plum;
}

/* Estilo para la parte no cubierta de los divs -Fila 2 */
.fila-2 .div-cuadrado:nth-child(3) {
    background-color:teal;
}

/* Estilo para la parte no cubierta de los divs -Fila 3 */
.fila-3 .div-cuadrado:nth-child(4) {
    background-color:springgreen;
}

/* Estilo para la parte no cubierta de los divs -Fila 3 */
.fila-4 .div-cuadrado:nth-child(5) {
    background-color:royalblue;
}
